@import "./reset.scss";
/*======================@media=============================*/
/* Адаптивность */
//<meta name="viewport" content="width=device-width">

/* Custom , iphone Retina */
//@media only screen and (max-width : 320px) {}
//@media (max-width: 320px)

/* Extra small Device, Phones */
//@media only screen and (max-width : 480px) {}
//@media (max-width: 480px)

/* Small Device, Tablets */
//@media only screen and (max-width : 768px) {}
//@media (max-width: 768px)

/* Medium Device, Desktops */
//@media only screen and (max-width : 992px) {}
//@media (max-width: 992px)

/* Large Device, Wide Screens */
//@media only screen and (max-width : 1200px) {}
//@media (max-width: 1200px)

/*======================Общие стили=============================*/
$colorWhite:#fff;
$colorBlue:#1c569c;
$colorBlueDark:#00316c;
$colorGrey:#c6c6c6;
$colorGreyDark:#777;
$colorGreen:green;
$positiveFeedback:#dfffd3;
$negativeFeedback:#ffe3e2;

h1 {
	font-size: 25px;
	color: #fff;
}

body {
	background-color: $colorBlue;
	font-family: "Myriad Pro", Arial;
	padding: 0px 15px;
}

.wrapper {
	background-color: $colorWhite;
	max-width: 1300px;
	min-width: 200px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	min-height: 100%;
	// height: 100%;      при инспекции трабл
}

.icon {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.btn-bg {
	padding: 8px 15px;
	font-size: 16px;
	border-radius: 5px;
}

.btn-sm {
	padding: 5px 10px;
	font-size: 15px;
	border-radius: 5px;
}

.input {
	width: 100%;
    display: block;
    color: $colorGreyDark;
    font-size: 14px;
    border: 1px solid $colorGreyDark;
}
/*==========================Header================================*/
header {
	background-color: $colorBlue;
	color: #fff;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 100px;
	/*adaptive*/flex-wrap: wrap;
	@media (max-width: 992px) {
		min-height: 140px;
	}
	@media (max-width: 768px) {
		padding-top: 10px;
    	height: 210px;
	}
	& .btn-bg {
		background-color: $colorBlue;
		color: #fff;
		border: 1px solid white;
		&:hover {
			background-color: #fff;
			color: $colorBlue;
		}
	}
}

.header {
	&__logo {
		display: flex;
		@media (max-width: 768px) {
			width: 100%;
			justify-content: center;
			order: 1;
		}
	}
	&__logo h1 {
		font-weight: 700;
		display: flex;
		align-items: center;
	}
	&__image {
		height: 70px;
		width: 100px;
		@media (max-width: 768px) {
			height: 45px;
    		width: 60px;
		}
	}
	&__image img{
		height: auto;
		width: 100%;
		display: block;
	}
	&__search {
		margin-left: 50px;
		@media (max-width: 992px) {
			width: 80%;
			order: 4;
			margin: 0 auto;
			padding: 0px 0px 10px 0px;
		}
		@media (max-width: 480px) {
			width: 100%;
		}
	}
	&__cart {
		position: relative;
		cursor: pointer;
		margin-left: auto;
		margin-right: 50px;
	}
	&__cart-icon {
		background-image: url(../../images/shopping-cart4.png);
		position: absolute;
		height: 26px;
		width: 30px;
		top: -7px;
		right: 65px;
	}
	&__bell-notification {
		background-color: #4894ec;
		position: absolute;
		top: -17px;
		left: -45px;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		font-size: 10px;
		font-weight: bold;
		line-height: 23px;
		z-index: 1;
		text-align: center;
	}
}

.header__burger {
	// display: none;
	// @media (max-width: 768px) {
	// 	display: block;
	// 	position: relative;
	// 	width: 30px;
	// 	height: 20px;
	// }
	// &:before {
	// 	content: '';
	// 	background-color: #fff;
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 2px;
	// 	left: 0;

	// 	top: 0;
	// }
	// &:after {
	// 	content: '';
	// 	background-color: #fff;
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 2px;
	// 	left: 0;

	// 	bottom: 0;
	// }
	// & span {
	// 	position: absolute;
	// 	background-color: #fff;
	// 	width: 100%;
	// 	height: 2px;
	// 	left: 0;
	// 	top: 9px;
	// }
}
.header__menu {
	// display: none;
	// @media (max-width: 768px) {
	// 	z-index: 1;
	// 	display: block;
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background-color: rgb(43, 149, 199);
	// }
}

.form {
	color: yellow;
	&__input {
		width: 100%;
		display: block;
		padding: 10px 60px 10px 30px;
		// height: 50px;
		border-radius: 25px;
		// color: #a9abb3;
		font-size: 14px;
		border: 1px solid #d2d6e0;
		&:focus {
			color: #131418;
		}
	}
}
/*============================Main=================================*/
.container {
	display: flex;
	flex: 1 0 auto;
	padding: 60px 30px 30px 30px;
	@media (max-width: 992px) {
		display: block;
	}
}

.filter {
	width: 240px;
	@media (max-width: 992px) {
		display: none;
	}
	&__title {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	&__items {
		padding: 20px 20px;
	}
	&__item-wrap {
		margin-bottom: 25px;
	}
}

.filter-input {
	&__title {
		color: $colorBlueDark;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 14px;
	}
	&__option {
		margin-bottom: 10px;
	}
	&__option:last-child {
		margin-bottom: 0px;
	}
	&__text {
		color: $colorBlueDark;
		font-size: 13px;
		font-weight: bold;
		display: inline-block;
		width: 15px;
		
	}
	&__value {
		height: 28px;
		width: 175px;
		border: 1px solid $colorGreyDark;
	}

}

.filter-checkbox {
	&__title {
		color: $colorBlueDark;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 14px;
	}
	&__option {
		display: flex;
		margin-bottom: 11px;
		align-items: center;
	}
	&__input {
		display: block;
		margin-right: 6px;
		width: 16px;
		height: 16px;
		border-radius: 3px;
		border: 1px solid $colorGrey;
		cursor: pointer;
	}
	&__text {
		font-size: 13px;
		cursor: pointer;
	}
}

.filter-mobile {
	display: none;
	@media (max-width: 992px) {
		display: block;
		padding: 15px 0px;
		font-size: 16px;
		background-color: #c6d3ee;
		border: 1px solid #c6d3ee;
		text-align: center;
		margin-bottom: 30px;
	}
	&:active {
		border: 1px solid $colorBlue;
	}
}

.products-wrapper {
	flex-grow: 1;
	margin-left: 30px;
	@media (max-width: 992px) {
		margin: 0px 0px;
	}
}

.products-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

.products-sort {
	& label {
		font-size: 16px;
	}
	& .input {
		height: 35px;
		margin: 5px 0px 10px 0px;
		//padding: ;
	}
}

.products-list {
	margin-bottom: 30px;
	& .product {
		margin-bottom: 10px;
	}
}

.product {
	display: flex;
	padding: 15px 10px 15px 15px;
	background-color: #e0e0e4;
	@media (max-width: 768px) {
		flex-wrap: wrap;
	}
	&__foto {
		height: 70px;
		width: 50px;
		margin-right: 20px;
		@media (max-width: 480px) {
			width: 100%;
			height: auto;
			margin: 0px 0px 15px 0px;
		}
	}
	&__foto img {
		height: auto;
		max-width: 100%;
		display: block;
	}
	&__descr {
		@media (max-width: 480px) {
			width: 100%;
		}
	}
	&__title {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 7px;
	}
	&__property {
		font-size: 12px;
		color: $colorGreyDark;
		margin-bottom: 5px;
	}
	&__property:last-child {
		margin-bottom: 0px;
	}
	&__info {
		margin-left: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 768px) {
			width: 100%;
		}
	}
	&__price {
		color: $colorBlueDark;
		font-size: 18px;
		font-weight: 700;
		text-align: right;
		@media (max-width: 768px) {
			text-align: left;
			margin: 20px 0px;
		}
	}
	&__container {
		display: flex;
		flex-direction: row;
	}
	&__cart {
		color: $colorGreen;
		font-size: 13px;
		cursor: pointer;
	}
	&__more {
		font-size: 13px;
		margin-left: 30px;
	}
}
/*=========================Inner Page===============================*/
.inner-container {
	padding: 30px 30px 60px 30px;
}

.inner-top {
	padding: 20px 20px;
    display: flex;
    justify-content: space-between;
	height: 85px;
	width: 100%;
	background-color: #c6d3ee;
	@media (max-width: 480px) {
		flex-wrap: wrap;
		justify-content: center;
		height: auto;
	}
	&__price {
		font-size: 25px;
		color: $colorBlue;
		display: flex;
		align-items: center;
		@media (max-width: 480px) {
			margin-bottom: 10px;
			width: 100%;
			display: block;
			text-align: center;
		}	
	}
	& .btn-bg {
		background-color: rgb(198, 211, 238);
		color: $colorBlue;
		border: 1px solid $colorBlue;
		&:hover {
			background-color: #fff;
		}
	}
}

.inner-content {
	padding: 20px 0px 40px 0px;
	display: flex;
	@media (max-width: 480px) {
		flex-wrap: wrap;
	}
	&__photo {
		width: 400px;
		flex-shrink: 0;
		margin-right: 30px;
		@media (max-width: 768px) {
			width: 184px;
		}
		@media (max-width: 480px) {
			width: 100%;
			margin: 0px 0px 20px 0px;
		}
	}
	&__photo img {
		height: auto;
		max-width: 100%;
		display: block;
	}
	&__info {}
	&__title {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 9px;
	}
	&__rate {
		font-size: 16px;
		color: $colorBlue;
		margin-bottom: 41px;
		@media (max-width: 768px) {
			font-size: 15px;
			margin-bottom: 23px;
		}
	}
	&__option {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 10px;
		@media (max-width: 768px) {
			font-size: 16px;
		}
	}
	&__option span {
		font-weight: 300;
	}
	&__description {
		font-size: 15px;
		line-height: 1.5;
		margin-top: 38px;
		@media (max-width: 768px) {
			font-size: 14px;
			margin-top: 23px;
		}
	}
	&__id {
		font-size: 12px;
		color: $colorGreyDark;
		margin-top: 10px;
	}
}

.inner-comments {
	&__title {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	&__item {
		display: flex;
		padding-top: 15px;
		padding-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;
		border-top: 1px solid $colorGrey;
		@media (max-width: 480px) {
			flex-wrap: wrap;
		}
	}
	&__item.green {
		background-color: $positiveFeedback;
	}
	&__item.red {
		background-color: $negativeFeedback;
	}
	&__photo {
		width: 100px;
		height: 100px;
		flex-shrink: 0;
		margin-right: 20px;
		@media (max-width: 480px) {
			width: 100%;
			height: auto;
			margin: 0px 0px 10px 0px;
		}
	}
	&__photo img{
		height: auto;
		max-width: 100%;
		display: block;
		@media (max-width: 480px) {
			width: 100%;
		}
	}
	&__info {
		@media (max-width: 480px) {
			padding: 0px 10px 0px 10px;
		}
	}
	&__name {
		font-size: 16px;
		font-weight: 700;
	}
	&__date {
		font-size: 12px;
		color: $colorGreyDark;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	&__content {
		line-height: 1.3;
	}
	& .btn-bg {
		background-color: $colorBlue;
		color: $colorWhite;
		margin-top: 30px;
		padding: 13px 20px;
		@media (max-width: 480px) {
			width: 100%;
		}
		&:hover {
			opacity: 0.8;
		}
	}
}
/*===========================Popup==================================*/
//.open - открытие
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
	z-index: 99;

	opacity: 0;
	visibility: hidden;

	overflow-y: auto;
    overflow-x: hidden;
	&.open {
		opacity: 1;
    	visibility: visible;
	}
	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px;
	}
	&__content {
		position: relative;
		background-color: #fff;
		width: 400px;
		height: 400px;
		padding: 80px 20px 10px 20px;
		border-radius: 5px;
	}
	&__title {
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 20px;
	}
	&__text {
		text-align: center;
		font-size: 16px;
	}
	&__close {
		position: absolute;
		right: 20px;
		top: 20px;
		font-size: 25px;
	}
	&__select {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	&__select .input {
		height: 35px;
		padding: 0px 15px 0px 15px;
	}
	&__textarea {
		margin-bottom: 10px;
		resize: none;
	}
	&__textarea .input{
		height: 100px;
		padding: 10px 20px 10px 20px;
	}
	& .btn-bg {
		background-color: $colorBlue;
		color: $colorWhite;
		margin-top: 5px;
		width: 100%;
		padding: 10px 15px;
		&:hover {
			opacity: 0.8;
		}
	}

}
/*===========================Popup-comments=========================*/

/*===========================Cart===================================*/
.cart {
	padding: 60px 30px 30px 30px;
	&__top {
		margin-bottom: 20px;
	}
	&__top h2 {
		font-size: 24px;
    	font-weight: 700;
	}
	&__list {
		margin-bottom: 20px;
	}
	&__list .cart-product {
		margin-bottom: 10px;
	}
	&__total {
		color: $colorBlueDark;
		font-size: 19px;
		font-weight: 700;
	}
}

.cart-product {
	display: flex;
    padding: 15px 10px 15px 15px;
	background-color: #e0e0e4;
	@media (max-width: 768px) {
		flex-wrap: wrap;
	}
	&__foto {
		height: 70px;
		width: 50px;
		margin-right: 20px;
		@media (max-width: 480px) {
			width: 100%;
			height: auto;
			margin: 0px 0px 15px 0px;
		}
	}
	&__foto img {
		height: auto;
		max-width: 100%;
		display: block;
	}
	&__descr {
		width: 50%;
		@media (max-width: 768px) {
			width: 80%;
		}
		@media (max-width: 480px) {
			width: 100%;
		}
	}
	&__title {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 7px;
		@media (max-width: 480px) {
			margin-bottom: 12px;
		}
	}
	&__property {
		font-size: 12px;
		color: $colorGreyDark;
		margin-bottom: 5px;
	}
	&__quantity {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 768px) {
			width: 100%;
			margin-top: 15px;
		}
	}
	&__addcount {
		display: flex;
		align-items: center;
	}
	&__count {
		border: 1px solid;
		border-radius: 5px;
		width: 40px;
		height: 28px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__remove {
		color: $colorGreyDark;
		font-size: 13px;
		cursor: pointer;
		text-align: center;
		@media (max-width: 768px) {
			margin-top: 30px;
    		text-align: left;
		}
	}
	&__remove:hover {
		color: #000;
	}
	&__info {
		width: 13%;
		margin-left: auto;
		@media (max-width: 1200px) {
			width: 18%;
		}
		@media (max-width: 768px) {
			width: 100%;
    		margin-top: 26px;
		}
	}
	&__price {
		color: $colorBlueDark;
		font-size: 18px;
		font-weight: 700;
	}
	& .btn-sm {
		background-color: $colorBlue;
		color: #fff;
		border: 1px solid;
		&:hover {
			opacity: 0.8;
		}
	}
}
/*===========================Footer=================================*/
footer {
	flex-shrink: 0;

	display: flex;
	background-color: $colorBlue;
	height: 53px;
	align-items: center;
	& h1 {
		font-size: 16px;
		background-color: $colorBlue;
	}
}